{% extends 'base.html.twig' %}

{% block title %}Llistat d'moviments{% endblock %}

{% block body %}
{{ include('navbaradmin.html.twig') }}
<div style="margin-top:200px">
        <h1>Llistat de moviments</h1>
        <a class="btn btn-success" href="{{ path('moviment_new') }}">+ Nou moviment</a>
        <br><br>
        {% for message in app.flashes('notice') %}
              <strong><i> {{ message }} </i></strong>
        {% endfor %}

          <table class="table table-hover table-dark table-bordered" style="margin-top: 20px;margin-bottom: 10px;">
              <thead>
                  <tr>
                      <th>Tipus</th><th>Nom</th><th>Descripcion</th><th>Accions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for moviment in moviments %}
                      <tr>
                          <td>{{ moviment.getTipus.Nom }}</td><td>{{ moviment.Nom }}</td><td>{{ moviment.Descripcion }}</td>
                          <td>
                            <a class="btn btn-primary" href="{{ path('moviment_edit', {'id': moviment.id}) }}">Editar</a>
                            <a class="btn btn-danger" href="{{ path('moviment_delete', {'id': moviment.id}) }}" onclick="return eliminar('{{ moviment.nom }}')">Eliminar</a>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="5">No hi ha moviment.</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>

          <br>
</div>
{% endblock %}