{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/emailChangePassword.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('javascript/emailChangePassword.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="padre_emailChangePassword">
        <div class="container">
            <div class="div_emailChangePassword">
                <form name="emailChangePassword" action="{{ path('sendChangePassword') }}" method="post">
                    <img class="img-fluid" id="logo_emailChangePassword" src="{{ asset('./img/fondos/logo1.png') }}">
                    <p style="margin-top: 10px;">Introduce el email de cambio de contraseña:</p>
                    <div class="div_email_emailChangePassword">
                        <label for="email" class="form-label">Email de usuario</label><br>
                        <input type="email" name="_email" class="form-control" id="email">
                        <span class="error" id="_emailError" style="color: red;"></span>
                    </div>
                    <div class="div_repeatEmail_emailChangePassword">
                        <label for="repeatEmail" class="form-label">Repite el email</label><br>
                        <input type="email" name="_repeatEmail" class="form-control" id="repeatEmail">
                        <span class="error" id="_repeatEmailError" style="color: red;"></span>
                    </div>
                    <div>
                        {% if error|default("") %}
                            <label style="color: red; margin-top: 0px; margin-bottom: 10px;">{{ error }}</label>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <p><a href="{{ path('login') }}">Volver a login</a></p>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
