<!-- Navigation -->
<div>
    <!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{{ path('login') }}" class="navbar-brand logo_navbar"><img class="img-fluid logo-navbar" src="{{ asset('./img/fondos/logo5.png') }}"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Perfil</a>
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Combatir</a>
                    
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Weadex</a>
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Moviments</a>
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Login</a>
                </div>
            </div>
        </div>
    </nav>-->
    <!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(16, 40, 48);">
        <div class="container-fluid">
            <a href="{{ path('login') }}" class="navbar-brand logo_navbar"><img class="img-fluid logo-navbar" src="{{ asset('./img/fondos/logo5.png') }}"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Perfil</a>
                    <a href="{{ path('login') }}" class="nav-item nav-link active">Combatir</a>
                    <div class="nav-item dropdown">
                        <a href="{{ path('login') }}" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">Weadex</a>
                        <div class="dropdown-menu">
                            <a href="{{ path('login') }}" class="nav-item nav-link active">Weamons</a>
                            <a href="{{ path('login') }}" class="nav-item nav-link active">Moviments</a>
                        </div>
                    </div>
                    <a href="{ path('login') }}" class="nav-item nav-link active">Login</a>
                </div>
            </div>
        </div>
    </nav>-->
    

<nav>
  <ul class="menu">
    <li class="logo"><a href="{{ path('login') }}" class="logo_navbar"><img class="img-fluid logo_navbar" src="{{ asset('./img/fondos/logo8.png') }}"></a></li>
    <li class="item item_link"><a href="{{ path('principal') }}">HOME</a></li>
    <li class="item item_link"><a href="#">PERFIL</a></li>
    <li class="item item_link"><a href="#">COMBATIR</a></li>
    <li class="item item_link"><a href="#">WEADEX</a></li>
    </li>
    <li class="item button"><a href="{{ path('login') }}">Log In</a></li>
    <li class="item button secondary"><a href="{{ path('register') }}">Sign Up</a></li>
    <li class="toggle"><a href="#"><i class="fas fa-bars"></i>aaaa</a></li>
  </ul>
</nav>


</div>
