{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/notificacion.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="padre_notificacion">
        <div class="container">
            <div class="div_notificacion">
                <img class="img-fluid" id="logo_notificacion" src="{{ asset('./img/fondos/logo5.png') }}">
                <p class="txt_notificacion">{{ notificacion }}<p>
                <p><a href="{{ path('principal') }}">Volver a la pagina principal</a></p>
            </div>
        </div>
    </div>
    
{% endblock %}
