{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .padre_sendChangePassword {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: rgb(4, 34, 43)
        }

        .principal_sendChangePassword {
            width: 35em;
            border-radius: 5px;
            padding: 20px;
            background-color: rgb(228, 228, 228);
            margin-left: auto;
            margin-right: auto;
            margin-top: 10em;
            margin-bottom: 10em;
            text-align: center;
        }

        .logo_sendChangePassword {
            max-width: 20em;
            max-height: 20em;
            min-width: 5em;
            min-height: 5em;
            margin: 20px;
        }

        .link_sendChangePassword {
            color: rgb(4, 34, 43);
            font-size: 1.5em;
            text-decoration: none;
        }

        /* Mobile */
        @media all and (max-width: 500px) {
            .principal_sendChangePassword {
                width: 35%;
                margin-top: 10%;
                margin-bottom: 10%;
            }

            .logo_sendChangePassword {
                max-width: 70%;
                max-height: 70%;
                min-width: 5%;
                min-height: 5%;
            }

            .link_sendChangePassword {
                font-size: 1em;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="padre_sendChangePassword">
        <div class="principal_sendChangePassword">
            <img class="logo_sendChangePassword" src="{{ email.image('@img/fondos/logo7.png') }}">
            <br>
            <a class="link_sendChangePassword" href="{{ link }}formChangePassword?email={{ mail }}&token={{ token }}">Clica aquí para cambiar la contraseña de tu cuenta de Weamon Frontier</a>
        </div>
    </div>
{% endblock %}