{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .boton {
            color: blue;
        }
    </style>
{% endblock %}

{% block body %}
    <container>
        <img class="img-fluid" id="logo_login" src="{{ email.image('@img/fondos/logo5.png') }}">
        <a class="boton" href="{{ link }}pruebas/accountVerified?email={{ mail }}&token={{ token }}">Crear cuenta</a>
    </container>
{% endblock %}