{% extends 'base.html.twig' %}

{% block title %}Llistat d'Weamons{% endblock %}
{% block body %}
        <h1>Llistat d'Weamons</h1>
        <a href="{{ path('weamon_new') }}">+ Nou Weamon</a>
        <br><br>
        {% for message in app.flashes('notice') %}
              <strong><i> {{ message }} </i></strong>
        {% endfor %}

          <table style="margin-top: 20px;margin-bottom: 10px;">
              <thead>
                  <tr>
                      <th>Tipus</th><th>Nom</th><th>Vida</th><th>Atac</th><th>Velocitat</th><th>Shiny</th><th>sprite</th>
                  </tr>
              </thead>
              <tbody>
                  {% for weamon in weamons %}
                      <tr>
                          <td>{{ weamon.Tipus.nom }}</td><td>{{ weamon.Nom }}</td><td>{{ weamon.Vida }}</td><td>{{ weamon.Atac }}</td><td>{{  weamon.Velocitat }}</td><td> {% if weamon.Shiny == 0 %}No{% else %}Si{% endif %} </td><td><img src="{{ asset('img/' ~ weamon.Img) }}" style="width:200px"></td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="5">No hi ha weamons.</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>

          <br>

{% endblock %}