{% extends 'base.html.twig' %}

{% block title %}Llistat d'Usuaris{% endblock %}

{% block body %}
{{ include('navbaradmin.html.twig') }}
<div style="margin-top:200px">
        <h1>Llistat d'Usuaris</h1>
        <a class="btn btn-success" href="{{ path('usuari_new') }}">+ Nou usuari</a>
        <br><br>
        {% for message in app.flashes('notice') %}
              <strong><i> {{ message }} </i></strong>
        {% endfor %}

          <table class="table table-hover table-dark table-bordered" style="margin-top: 20px;margin-bottom: 10px;">
              <thead>
                  <tr>
                      <th>Username</th><th>Nom</th><th>Cognoms</th><th>Accions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for usuari in usuaris %}
                      <tr>
                          <td>{{ usuari.Username }}</td><td>{% for rol in usuari.Roles %}
                              <p>{{ rol }}</p>
                          {% endfor %}</td><td><img src="{{ asset('img/' ~ usuari.Img) }}" style="width:200px"></td>
                          <td>
                            <a class="btn btn-primary" href="{{ path('usuari_edit', {'id': usuari.id}) }}">Editar</a><br>
                            <a class="btn btn-danger" href="{{ path('usuari_delete', {'id': usuari.id}) }}" onclick="return eliminar('{{ usuari.username }}')">Eliminar</a>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="5">No hi ha usuaris.</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>

          <br>
</div>
{% endblock %}